{% extends 'main/layout.html' %}

{% block title %}
    О нас 
{% endblock %}

{% block content %}
<div class="features">
    <style>
        p { text-indent: 25px;  }
    </style>
    <h1>О нас</h1>
    <p align="justify">Аквапарк “Wave” в Стерлитамаке - это настоящий оазис радости и веселья для всей семьи! Расположенный в живописном районе города, аквапарк предлагает своим посетителям множество водных горок и аттракционов, бассейны разных размеров и глубины, зоны для релаксации и активного отдыха.</p>
    <p align="justify">Гордость аквапарка - захватывающие дух водные горки, которые подарят вам незабываемые впечатления и прилив адреналина. Здесь вы найдете горки разной сложности и высоты, от простых и безопасных для детей до экстремальных для настоящих любителей острых ощущений.</p>
    <p align="justify">Для маленьких гостей аквапарка также предусмотрена специальная зона с детскими горками и мелким бассейном, где малыши могут безопасно и весело провести время. Опытные аниматоры и воспитатели всегда готовы занять и развлечь маленьких гостей, пока родители отдыхают и наслаждаются водными аттракционами.</p>
    <p align="justify">На территории аквапарка “Wave” также располагаются бассейны с подогревом и системой очистки воды, что позволяет наслаждаться плаванием и водными играми в любую погоду и время года. Для любителей активного отдыха предусмотрены спортивные площадки, а также настольный теннис и бильярд.</p>
    <p align="justify">После активного отдыха можно расслабиться и насладиться спа-процедурами в аквапарке. Массажи, обертывания, сауны и бани помогут восстановить силы и зарядиться энергией перед новым днем.</p>
    <a href="{% url 'contact' %}"><button class="btn btn-success">Связаться с нами</button></a>
    <a href="{% url 'tickets' %}"><button class="btn btn-success">Забронировать билеты</button></a>
</div>
{% endblock %}