{% extends 'main/layout.html' %}

{% block title %}
    {{ title }}   
{% endblock %}

{% block content %}
    <div class="features">
        <style>
            p { text-indent: 25px;  }
        </style>
        <h1>{{ title }}</h1>
        <p><i><big>Добро пожаловать на сайт аквапарка Wave.</big></i><br><img src="https://i9.photo.2gis.com/images/branch/0/30258560089443770_2d82.jpg" width="340px">
            <img src="https://img.magput.ru/pics/large/af34eae1-1875-4aa5-84ff-a82a5c706399.jpg" width="340px"></p>
        <p align="justify">Раздел “О нас” на сайте аквапарка представляет информацию о нашей компании, её истории и миссии. Здесь гости могут ознакомиться с принципами работы аквапарка, его социальной ответственностью и предоставляемыми услугами. Также в разделе содержатся данные о качестве и безопасности услуг аквапарка.</p>
        <p align="justify">Раздел “Новости” на нашем сайте предоставляет актуальную информацию о последних событиях, изменениях и новинках в аквапарке. Мы регулярно обновляем этот раздел, чтобы вы были в курсе всех новостей и могли наслаждаться отдыхом в аквапарке в полной мере. </p>
        <p align="justify">Раздел "Контакты" содержит список контактов для связи с нами.</p>
        <p align="justify">В разделе "Билеты" можно оставить заявку на бронирование билетов.</p>
        <a href="{% url 'about' %}"><button class="btn btn-info">Узнать больше о нас</button></a>
        
    </div>
{% endblock %}